// Colours
$primary-1: #49a078;
$primary-2: #9faaaa;
$primary-3: #9cc5a1;
$primary-4: #dce1de;
$primary-5: #1f2421;

// Screen sizes - using Bootstrap sizes as a reference!
$screenwidth-col-xs: 768px;
$screenwidth-col-sm: 992px;